header {
    background-color: rgb(41, 41, 190);
    height: 120px;
    padding-top: 40px;
}

main {
    color: rgb(25, 25, 204);
}

footer {
    background-color: black;
    color: white;
}

.team {
    color: black
}

.navigation {
    color: black;
}

.high_and_middle {
    background-color: rgb(204, 22, 22);
    height: 120px;
}

.primary {
    background-color: rgb(248, 163, 6);
    height: 120px;
}

.kinder {
    background-color: rgb(10, 126, 10);
    height: 120px;
}

.rulers {
    background-color: rgb(28, 28, 173);
    height: 120px;
}

.picture {
    margin: 5 px;
}

.col-1 {
    flex-basis: 5%;
}

.col-2 {
    flex-basis: 10%;
}

.col-3 {
    flex-basis: 15%;
}

.col-4 {
    flex-basis: 20%;
}

.col-5 {
    flex-basis: 25%;
}

.col-6 {
    flex-basis: 30%;
}

.col-7 {
    flex-basis: 35%;
}

.col-8 {
    flex-basis: 40%;
}

.col-9 {
    flex-basis: 45%;
}

.col-10 {
    flex-basis: 50%;
}

.col-11 {
    flex-basis: 55%;
}

.col-12 {
    flex-basis: 60%;
}

.col-13 {
    flex-basis: 65%;
}

.col-14 {
    flex-basis: 70%;
}

.col-15 {
    flex-basis: 75%;
}

.col-16 {
    flex-basis: 80%;
}

.col-17 {
    flex-basis: 85%;
}

.col-18 {
    flex-basis: 90%;
}

.col-19 {
    flex-basis: 95%;
}

.col-20 {
    flex-basis: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-20 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.section-link {
    padding: 10px;
    margin: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1200px;
}

@font-face {
    font-family: woff;
    font-display: swap;
    src: url('woff.ttf');
}

body {
    font-family: woff; 
}